In [1]:
#Import the dependencies
import pandas as pd
import numpy as np
import json

In [13]:
#open json1 and read
with open("purchase_data.json") as datafile:
    data1 = json.load(datafile)
    


dataframe = pd.DataFrame(data1)

dataframe.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [16]:
#open json 2 and read
with open("purchase_data2.json") as datafile:
    data2 = json.load(datafile)
dataframe2 = pd.DataFrame(data2)
dataframe2.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [31]:
#conctinate dataframes
bigdata = pd.concat([dataframe, dataframe2], ignore_index=True)
bigdata.columns = bigdata.columns.str.replace('\s+', '_')
bigdata.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [20]:
#count the number of gamers
total_gamers = len(bigdata)
total_gamers

858

In [37]:
#create a dataframe that lists the diffrent unique weapons and couce
unique_weapons = pd.DataFrame(bigdata["Item_Name"].value_counts())
unique_weapons.reset_index(inplace=True)

unique_weapons.columns = ["Weapon", "Count"]

unique_weapons.head()

                                 Weapon  Count
0                          Final Critic     14
1                           Stormcaller     12
2                            Arcane Gem     12
3  Betrayal, Whisper of Grieving Widows     11
4                              Crucifer     10

In [38]:
#Determine the average price of each weapon and appen

KeyError: 'price'